@model List<Sales>

<h1>Dashboard</h1>
@*
<div>
    <h2>Add Sales</h2>
    @await Component.InvokeAsync("AddSales")
</div>
*@
<div>
    <h2>Sales Chart</h2>
    @await Component.InvokeAsync("Chart")
</div>
