@model List<Sales>
<div style="display:flex;flex-wrap:wrap;">
<div style="width:50%;">
    <canvas id="salesChart"></canvas>
</div>
<div style="width:50%;">
    <canvas id="salesChartBar"></canvas>
</div>
    <div style="width:50%;">
        <canvas id="salesChartPie"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>
    var salesData = @Html.Raw(Json.Serialize(Model));
    console.log(salesData);
        var dates = salesData.map(function (sale) { return sale.createdDate; });
        console.log(dates);
        var amounts = salesData.map(function (sale) { return sale.amount; });
        console.log(amounts);

        var ctx = document.getElementById("salesChart").getContext('2d');
        
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Sales',
                    data: amounts,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
   
    var ctx = document.getElementById("salesChartBar").getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: dates,
            datasets: [{
                label: 'Sales',
                data: amounts,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var ctx = document.getElementById("salesChartPie").getContext('2d');
    var chart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: dates, amounts,
            datasets: [{
                label: 'Sales',
                data: amounts,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    console.log(chart);
    function updateChartData(newSale) {
        salesData.push(newSale);
        chart.data.labels = salesData.map(function (sale) { return sale.createdDate; });
        chart.data.datasets[0].data = salesData.map(function (sale) { return sale.amount; });
        chart.update();
    }
    setInterval(chart.update, 0, console.log("updated"))
    window.addEventListener('load', function (event) {
        event.preventDefault();

        updateChartData(newSale);
    });

</script>
